@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 0 0% 96%;

    --card: 0 0% 3%;
    --card-foreground: 0 0% 96%;

    --popover: 0 0% 3%;
    --popover-foreground: 0 0% 96%;

    --primary: 270 50% 40%;
    --primary-foreground: 0 0% 96%;

    --secondary: 270 30% 30%;
    --secondary-foreground: 0 0% 96%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 64%;

    --accent: 270 50% 40%;
    --accent-foreground: 0 0% 96%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 96%;

    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 270 50% 40%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
